html { 
    box-sizing: border-box; 
}

html, 
html::before, 
html::after { 
    box-sizing: inherit; 
}

body {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    margin-top: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    
    background-color: #f2f2f2;
}

.body-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    margin-top: 0;
    padding-top: 0;
    font-weight: 400;
    background-color:#ffffff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
  
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
.main-navigation {
    display: flex;
    font-weight: 700;
    margin: auto;
    padding: 0;
    color: #000000;
    height: 56px;
    
    align-items: center;
    background-color: #ffffff;

}

.site-navigation {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.site-navigation a {
    display: block;
    color: #000000;
    }

.site-navigation li {
    width: 239px;
}

a.nav-info {
    padding-top: 14px;
    padding-bottom: 16px;
    padding-left: 72px;
    text-align: left;
  } 

a.nav-photo {
    padding-top: 14px;
    padding-bottom: 16px;
    padding-left: 73px;
    text-align: left;
}

.site-navigation li:nth-child(3) {
    margin-left: 244px;
}

a.nav-map {
    padding-top: 14px;
    padding-bottom: 16px;
    padding-right: 74px;
    text-align: right;
}

a.nav-catalog {
    padding-top: 14px;
    padding-bottom: 16px;
    padding-right: 72px;
    text-align: right;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}
      
.site-navigation a:active {
    color: #b2b2b2;
}
      
.site-navigation-here a,
.site-navigation-here a:hover {
    color: #766357;
}

.main-header {
    position: relative;
}

.header-small-logo {
    position: absolute;
    top: 0;
    left: calc(50% - 69px);
}

.welcome-words {
    display: flex;
    padding-top: 76px;
    padding-bottom: 100px;

    background-image: 
        url("../img/under-background.png"),
        url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #2c3e45;
    background-position-y: 
        451px,
        -56px;
}

.welcome-words img {
    margin: 0 auto;
}

.slogan-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 20px;
    height: 216px;
    margin: 0px;
    text-align: center;
    background-color: #ffffff;
}

.slogan {
    font-size: 21px;
    line-height: 26px;
    margin-top: 61px;
    padding-left: 380px;
    padding-right: 380px;
  }

.reasons {
    width: 1200px;
    position: absolute;
    top: 780px;
}

.reasons-title {
    color: #333333;
    padding-left: 355px;
    padding-right: 356px;
    padding-top: 13px;
    margin: 0;
}

.row-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: 256px;
}

.additional-reasons-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: 330px;
}

.additional-reasons {
    width: 400px;
}

.additional-reasons h3 {
    position: relative;
    width: 400px;
    margin-top: 161px;
}

.additional-reasons-house h3::before {
    content: "";
    position: absolute;
    width: 76px;
    height: 72px;
    margin-top: 40px;
    margin-left: -4px;
    background-image: 
        url(../img/icon-1.svg);
}

.additional-reasons-eat h3::before {
    content: "";
    position: absolute;
    width: 74px;
    height: 70px;
    margin-top: 40px;
    margin-left: -18px;
    background-image: 
        url(../img/icon-3.svg);
}

.additional-reasons-gift h3::before {
    content: "";
    position: absolute;
    width: 64px;
    height: 76px;
    margin-top: 35px;
    margin-left: 20px;
    background-image: 
        url(../img/icon-2.svg);
}

.additional-reasons p {
    margin-top: 2px;
    margin-left: 50px;
    width: 300px;
}

.img-wrapper-house,
.img-wrapper-nature{
    display: flex;
    margin: 0;
    padding: 0;
    height: auto;
    width: 800px;
    position: relative;
    overflow: hidden;
}

.img-features {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    display: block;
}

.first-main-reason-wrapper,
.additional-reasons,
.second-main-reason-wrapper,
.main-reasons {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    text-align: center;
}

.first-main-reason-wrapper,
.second-main-reason-wrapper {
    width: 400px;
}

.third-row {
    height: 256px;
}

.real-city {
    width: 134px;
    padding-top: 47px;
    margin: 0 auto;
}

.reason-number {
    padding-top: 24px;
}

.real-city-text {
    padding-top: 22px;
    width: 280px;
    margin: 0 auto;
}

.devil-bridge {
    width: 151px;
    padding-top: 47px;
    margin: 0 auto;
}

.devil-bridge-text {
    padding-top: 22px;
    width: 302px;
    margin: 0 auto;
}

.small-area {
    width: 134px;
    padding-top: 47px;
    margin: 0 auto;
}

.small-area-text {
    padding-top: 22px;
    width: 280px;
    margin: 0 auto;
}

.beauty-road {
    width: 134px;
    padding-top: 47px;
    margin: 0 auto;
}

.beauty-road-text {
    padding-top: 22px;
    width: 280px;
    margin: 0 auto;
}

.few-tourists {
    width: 134px;
    padding-top: 47px;
    margin: 0 auto;
}

.few-tourists-text {
    padding-top: 22px;
    width: 316px;
    margin: 0 auto;
}

.reasons-list {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    line-height: 21px;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    color: #333333;
}

.reasons-list h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    color: #000000;
}

.blue-reasons {
    color: #ffffff;
    background-color: #81b3d2;
}

.blue-reasons h3{
    color: #ffffff;
}

.grey-reasons {
    background-color: #eeeeee;
    width: 400px;
}

.additional-reasons-list {
    list-style: none;
    color: #333333;
    background-color: #ffffff;
}

.additional-reasons h3 {
    color: #000000;
    background-color: #ffffff;
}

.search-hotels {
    width: 1200px;
    position: absolute;
    top: 1878px;
}

.proposal-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #ffffff;
    height: 290px;
}

.search-title {
    margin-top: 50px;
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 36px;
}

.search-proposal {
    font-size: 14px;
    line-height: 24px;
    margin: 0 auto;
    padding-bottom: 47px;
    width: 500px;
}

.search-map-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map {
    position: absolute;
}

.search-modal-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 566px;
    height: 566px;
    font-weight: 700;
    background-color: #ffffff;
    position: absolute;
}


.date-field input {
    font-weight: 700;
}

.search-form {
    margin: 56px;
}

.search-info {
    }

.search-form input::-webkit-input-placeholder {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;

    border: none;
}
 
.search-form input::-moz-placeholder {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    
    border: none;
}
  
.search-form input:-ms-input-placeholder {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    
    border: none;
}
  
.search-form input:-moz-placeholder {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    
    border: none;
}
  
.search-form input:hover {
    background-color: #ebebeb;
    font-weight: 700;
}
  
.search-form input:focus {
    background-color: #ffffff;
    outline: 2px solid #e5e5e5;
    font-weight: 700;
}

.button {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    border: none;
}
  
.search-form-button {
    font-size: 21px;
    line-height: 26px;
    margin: 0 auto;
    padding-top: 10px;
}
  
.search-form-button[type="button"] {
    width: 568px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.search-form-button[type="submit"] {
    width: 458px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 25px;
}
  
.button-brown {
    background-color: #766357;
}
  
.button-brown:hover,
.button-brown:focus {
    background-color: #604e43;
}
  
.button-brown:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}
  
.button-blue {
    background-color: #81b3d2;
}

.button-blue:hover,
.button-blue:focus {
    background-color: #669ec0;
}
  
.button-blue:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.count-field {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    height: 38px;
    width: 38px;
    font-weight: 700;
    color:  #000000;
    text-align: center;
    
    box-shadow: none;
    border-style: none;

    background-color: #f2f2f2;
}

.second-row {
    margin-top: 30px;
}
.search-info {
    display: flex;
}

.date-field {
    width: 346px;
    height: 35px;
    margin-left: 18px;
    justify-content: right;

    color:  #000000;
    text-align: left;
    
    box-shadow: none;
    border-style: none;

    background-color: #f2f2f2;
}

.date-field input {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;

    background-color: #ffffff;
    border: none;
}

.count-button {
    font-size: 22px;
    line-height: 26px;
    height: 38px;
    width: 38px;
    color: #a9a9a9;
    background-color: #f2f2f2;
    border: none;
}
  
.count-button:hover,
.count-button:focus {
    color: #000000;
}
  
.count-button:active {
    color: #81b3d2;
}

.hotel-filter-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.hotel-filter {
    background-image: url("../img/filter-background.jpg");
    background-color: #4f5a61;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
  
.filter-item {
    display: flex;
    flex-direction: column;
    width: 120px;
    border: none;
}
  
.filter-title {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
}
  
.filter-item ul {
    list-style: none;
}

.filter-option {
    line-height: 21px;
    color: #ffffff;
}

.filter-item-cost {
    margin-left: auto;
}

.cost-controls {
    width: 314px;
    height: 32px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    background-color: transparent;
    
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.cost-controls input {
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    background-color: transparent;
    
    border: none;
    text-align: center;
}

.cost-controls input[type="text"]::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    background-color: transparent;
    
    width: 110.05px;
    height: 15px;

    border: none;
}

.cost-controls input[type="text"]::-moz-placeholder {
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    background-color: transparent;

    width: 110.05px;
    height: 15px;

    border: none;
}
  
.cost-controls input[type="text"]:-ms-input-placeholder {
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    background-color: transparent;

    width: 110.05px;
    height: 15px;

    border: none;
}
  
.cost-controls input[type="text"]:-moz-placeholder {
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    background-color: transparent;

    width: 110.05px;
    height: 15px;

    border: none;
}
  
.filters-result-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.found-wrapper {
    display: flex;
    width: 120px;
    margin: 0;
}

.sort-list {
    display: flex;
    width: 380px;
    flex-direction: row;
    justify-content: space-between;
}

.filter-button {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.filter-button:hover,
.filter-button:focus {
  color: #000000;
  background-color: #ffffff;
}

.filters-result {
    min-height: 85px;
    font-size: 12px;
    line-height: 18px;
    background-color: #fefefe;
}

.found {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.sort-up-down {
    display: flex;
    width: 40px;
    flex-direction: row;
    margin-left: auto;
}

.filter-link {
    list-style: none;
}
  
.filter-link-active {
    color: #81b3d2;
}
  
.filter-link-inactive {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #81b3d2;
}
  
.filter-link-inactive:hover,
.filter-link-inactive:focus {
    color: #81b3d2;
    border-bottom: 1px dotted #81b3d2;
}
  
.filter-link-inactive:active {
    color: #000000;
    border: none;
}

.hotels-found {
    background-color: #fefefe;
    border-top: 1px solid #e5e5e5;
  }


.sort {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.hotels-catalog,
.sort-list,
.stars-rating {
    list-style: none;
    font-size: 12px;
    line-height: 18px;
}

.hotel-item {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 auto;
}

.hotel-description {
    display: flex;
    flex-direction: column;
}

.hotel-rating {
    display:flex;
    flex-direction: column;
    margin-left: auto;
}

.hotel-description h4 {
    font-size: 21px;
}  
.hotel-name {
    color: #000000;
    font-size: 21px;
    line-height: 26px;
}
  
.hotel-name:hover,
.hotel-name:focus {
    color: #81b3d2;
}
  
.hotel-name:active {
    color: rgba(0, 0, 0, 0.3);
}

.hotel-description {
    line-height: 21px;
    color: #333333;
}

.hotel-button {
    font-size: 14px;
    line-height: 21px;
}
  
.numeral-rating {
    line-height: 21px;
    color: #666666;
    text-align: center;
    background-color: #f2f2f2;
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
}

.tag-sedona {
    display: flex;
    width: 400px;
    margin: 0;
    justify-content: center;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}
  
.footer-social {
    display: flex;
    width: 400px;
    margin: 0;
    justify-content: center;
    text-align: center;
    list-style: none;
    padding: 0;
}

.footer-copyright {
    display: flex;
    width: 400px;
    margin: 0;
    justify-content: center;
}
  
.social-button {
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    margin-top: 20px;
    margin-bottom: 20px;
}
  
.social-button:hover,
.social-button:focus {
    background-color: #669ec0;
}
  
.social-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}
    
.footer-html-academy a {
    width: 116px;
    height: 42px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }